@font-face {
  font-family: "BPreplay";
  src: url("../../fonts/BPreplay.oft") format("oft");
  font-weight: 400;
}

@font-face {
  font-family: "BPreplay";
  src: url("../../fonts/BPreplayBold.oft") format("oft");
  font-weight: 700;
}