// colors
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #bfbfc9;
$blueColor: #3e40a4;
$darkBlueColor: #202155;
$secondDarkBlueColor: #0c0d69;


// width
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$hdWidth: 1280px;
$fullHdWidth: 1920px;